.idea/
Graphic_Sketch.svg
article_data/
article_data_subset/
graphic_sketch.png
journal_data/
pdf/*
pdf_urls.txt
sample_json.json
txt/*
python/analyze_json.py
python/analyze_texts.py
python/clean_doaj*
python/extract*
python/get*
python/json*
python/nltk*
python/sample_json.json
python/sample_xml.xml
python/test.csv
python/xml.md
.Rproj.user
.Rhistory
